<html>
  <head>
    <title>Game Page</title>
    <script src="/scripts/index.js" defer></script>
    <script src="/scripts/games/index.js" defer></script>
    <link rel="stylesheet" href="/stylesheets/index.css" />
  </head>
  
  <body>
    <div id="page-left">
      <div id="buttons-in-gamepage">
        
        <form action="/lobby" method="get">
          <input type="submit" value="Lobby">
        </form>
        
        <!-- Exit Button -->
        <form method="post" action="/games/exit/<%= game_id %>">
          <input type="submit" value="Exit"/>
        </form>
        
        <!-- Start Button -->
        <button onclick="ClickUrlGET(`/games/<%=game_id%>/start`)">start</button>

        <!-- Draw Card Button -->
        <button onclick="ClickUrlPOST(`/games/<%=game_id%>/draw`)">draw</button>

      </div>

      <h1 id="gamepage-header">Game Page (Authenticated)</h1>
      <h3>GameID:<%= game_id %> <p id="userid-head"> </p></h3>

      <!-- Displaying players username and their total number of cards holding-->
      <div id="users-cardcount">
        <table>
          <thead>
            <tr>
              <th>Username</th>
              <th>Total Cards Holding</th>
            </tr>          
          </thead>
          <tbody id="players">
            <tr class="playersinfo">
              <th class="username"></th>
              <th class="count"></th>
            </tr>
          </tbody>
        </table>
      </div>


      <table>
        <thead>
          <tr>
            <th>Color</th>
            <th>Value</th>
            <th>Current Turn UserId</th>
          </tr>
        </thead>
        <tbody id="topcard">
        </tbody>
      </table>

      <div id="topcardimg">
      </div>
      
      

      <!-- A Card -->
      <div>
        <div id="game-card-rows">
              <img clas="cardimage">
          </div>
      </div>


      <!-- Chat Area -->
      

      <!-- A Chat Message -->
 
      <div id="users">
        <div class="user">
          <span class="username">Host:<%= creating_user %></span>
          <div class="cards"></div>
        </div>
      </div>

      <!-- A User -->

      <div id="user-count">
      <span class="username"></span>
      <span class="count"></span>
      </div>     

    
      <script>
        window.addEventListener("load", function() {
          const url=`/games/init/<%=game_id%>`
        fetch(url,{
          method: "get"
        }).then(value => {

        })
        })
        
        function ClickUrlPOST(url){
          console.log(url)
          fetch(url,{
            method: "post"
          })
        }
        function ClickUrlGET(url){
          console.log(url)
          fetch(url,{
            method: "get"
          })
        }
      </script>  
    </div>
    <div id="page-right">
      <div id="chat">Chat area</div>
      <!-- Chat Box -->
      <div id="chat-container"> 
        <div id="messages"></div>
        <label>
          <input id="chatMessage" name="chat-message" placeholder="Message..."/>
        </label>
      </div>
    </div>
  </body>
</html>






<!-- Templates for the sockets async data-->
<template id="topcard-template" >
  <tr>
    <th class="color"></th>
    <th class="value"></th>
    <th class="userid"></th>
  </tr>
</template>

<template id="topcard-template-img">
  <img class="topcard-img" src="">
</template>

<template id="user-template">
  <span class="username"></span>
  <div class="cardsCount"></div>
</template>

<template id="card-template">
  <img class="cardimage" src="" >
</template>

<template id="chat-message-template" value="<%= game_id %>"">
  <div>
    <span class="username"></span>
    <span class="message"></span>
    <span class="timestamp"></span>
  </div>
</template>

<template id="players-template">
  <tr>
    <th class="username"></th>
    <th class="count"></th>
  </tr>
</template>