<html>
  <head>
    <title>Game Page</title>
    <script src="/scripts/index.js" defer></script>
    <script src="/scripts/games/index.js" defer></script>
    <link rel="stylesheet" href="/stylesheets/index.css" />
  </head>
  
  <body>
    <div id="Lobby-button-in-gamepage">
      <form action="/lobby" method="get">
        <input type="submit" value="Lobby">
      </form>
    </div>

    <h1>Game Page (Authenticated)</h1>
    <h3>GameID:<%= game_id %></h3>

    <div id="game">

      <!-- Exit Button -->
      <form method="post" action="/games/exit/<%= game_id %>">
        <input type="submit" value="Exit"/>
      </form>

      <!-- Start Button -->
      <form method="get" action="/games/<%= game_id %>/start">
        <input type="submit" value="Start"/>
      </form>

      <!-- Draw Card Button -->
      <form method="post" action="/games/draw">
        <input type="submit" value="Draw"/>
      </form>

      <div id="users">
        <div class="user">
          <span class="username">Host:<%= creating_user %></span>
          <div class="cards"></div>
        </div>
      </div>
    </div>


    <!-- A User -->
    <template id="user-template">
        <span class="username"></span>
        <div class="cardsCount"></div>
    </template>

    <div id="user-count">
      <span class="username"></span>
      <span class="count"></span>
    </div>

    <!-- A Card -->
    <div>
      <table>
        <thead>
          <tr>
            <th>Color</th>
            <th>Value</th>
            <th>User ID</th>
          </tr>
        </thead>
        <tbody>
          <!--- Card row to display the card-->
          <% if(game_state.length > 0){ %>
            <% game_state.forEach( game => { %> 
             <% if(game.users == creating_user ) { %>
                <% game.gamecards.forEach(card => { %>
                  <tr>
                    <td><%= card.value %></td>
                    <td><%= card.color %></td>
                    <td><%= card.userid %></td>
                  </tr>
                  <% const imgval = `${card.color}_${card.value}_${card.specialcard}` %>
                  <img id="image-card" src="/img/<%= imgval %>.png" alt="<%= imgval %> image not available">
                <% }) %>
              <% } %>
            <% }) %>
          <% } %>
          <tr id="game-card-rows">
            <td class="color"></td>
            <td class="number"></td>
            <td class="userId"></td>
          </tr>
          <!-- Adding more rows from template -->
        </tbody>
      </table>
    </div>


    <template id="card-template">
      <tr>
        <td class="number"></td>
        <td class="color"></td>
        <td class="userId"></td>
      </tr>
    </template>

    <!-- Chat Area -->
    <div id="chat">Chat area</div>
    <!-- Chat Box -->
    <div id="chat-container"> 
      <div id="messages"></div>
      <label>
        <input id="chatMessage" name="chat-message" placeholder="Message..." />
      </label>
    </div>

    <!-- A Chat Message -->
    <template id="chat-message-template" value="<%= game_id %>"">
      <div>
        <span class="username"></span>
        <span class="message"></span>
        <span class="timestamp"></span>
      </div>
    </template>

  </body>
</html>
