<html>
  <head>
    <title>Game Page</title>
    <script src="/scripts/index.js" defer></script>
    <script src="/scripts/games/index.js" defer></script>
    <link rel="stylesheet" href="/stylesheets/games.css" />
  </head>
  
  <body>
    <!-- Project Label -->
    <div id="project-label">CSC-667 Spring 2023 Final Project - Team-X</div>

    <!-- Logo -->
    <div class="logo-container">
      <a href="/">
        <img class="logo" src="/img/logo.png">
      </a>
    </div>

    <!-- Game Buttons Container -->
    <div class="games-buttons-container">
      <!-- Lobby Button -->
      <form class="lobby-form" method="get" action="/lobby">
        <input type="submit" value="Lobby">
      </form>

      <!-- Exit Button -->
      <form class="exit-form" method="post" action="/games/exit/<%= game_id %>">
        <input type="submit" value="Exit"/>
      </form>
    </div>
    

    <div class="game-container">
      <div class="game-container-header">
        <div>
          <h3>GameID:<%= game_id %></h3>
          <h3 id="userid-head"></h3>
        </div>
        
        <h1 id="gamepage-header">Game Page</h1>
        <!-- Start Button -->
        <button onclick="ClickUrlGET(`/games/<%=game_id%>/start`)">Start</button>
      </div>
      

      <!-- Table: Username: Number of Cards Holding-->
      <div id="users-cardcount">
        <table>
          <thead>
            <tr>
              <th>Username</th>
              <th>Total Cards Holding</th>
            </tr>
          </thead>
          <tbody id="players">
            <tr class="playersinfo">
              <th class="username"></th>
              <th class="count"></th>
            </tr>
          </tbody>
        </table>
      </div>

      <span id="current-player-turn">Current Player: ##</span>

      <!-- Where the Image of the Top Card is appended to -->
      <div id="topcardimg">
      </div>

      <!-- A Card -->
      <div>
        <div id="game-card-rows">
              <img class="cardimage">
          </div>
      </div>

      <!-- A User -->

      <div id="user-count">
        <span class="username"></span>
        <span class="count"></span>
      </div>  

    </div>
    
      <script>
        window.addEventListener("load", function() {
          const url=`/games/init/<%=game_id%>`
          fetch(url,{
            method: "get"
          }).then(value => {})
        })
        
        function ClickUrlPOST(url){
          console.log(url)
          fetch(url,{
            method: "post"
          })
        }
        function ClickUrlGET(url){
          console.log(url)
          fetch(url,{
            method: "get"
          })
        }
      </script>
        
    </div>
      
    <div id="page-right">
      <!-- Chat Area -->
      <div id="chat">Chat area</div>
      <!-- Chat Box -->
      <div id="chat-container"> 
        <div id="messages"></div>
        <label>
          <input id="chatMessage" name="chat-message" placeholder="Message..."/>
        </label>
      </div>
    </div>

  </body>
</html>



<!-- Templates for the sockets async data-->

<!-- Top Card Table Template-->
<template id="topcard-template" >
  <tr>
    <th class="color"></th>
    <th class="value"></th>
    <th class="userid"></th>
  </tr>
</template>

<!-- A TopCard Template -->
<template id="topcard-template-img">
  <button onclick="ClickUrlPOST(`/games/<%=game_id%>/draw`)">
    <img class="topcard-img" src="">
  </button>
</template>

<!-- A User Template -->
<template id="user-template">
  <span class="username"></span>
  <div class="cardsCount"></div>
</template>

<!-- A Card Image Template -->
<template id="card-template">
  <img class="cardimage" src="" >
</template>

<!-- A Chat Message Template -->
<template id="chat-message-template" value="<%= game_id %>"">
  <div>
    <span class="username"></span>
    <span class="message"></span>
    <span class="timestamp"></span>
  </div>
</template>

<!-- A Player Template -->
<template id="players-template">
  <tr>
    <th class="username"></th>
    <th class="count"></th>
  </tr>
</template>