<html>
  <head>
    <title>Game Page</title>
    <script src="/scripts/index.js" defer></script>
    <script src="/scripts/games/index.js" defer></script>
    <link rel="stylesheet" href="/stylesheets/index.css" />
  </head>
  
  <body>
    <div id="Lobby-button-in-gamepage">
      <form action="/lobby" method="get">
        <input type="submit" value="Lobby">
      </form>
    </div>

    <h1>Game Page (Authenticated)</h1>
    <h3>GameID:<%= game_id %></h3>

    <div id="game">

      <!-- Exit Button -->
      <form method="post" action="/games/exit/<%= game_id %>">
        <input type="submit" value="Exit"/>
      </form>

      <!-- Start Button -->
      <form method="get" action="/games/<%= game_id %>/start">
        <input type="submit" value="Start"/>
      </form>

      <!-- Draw Card Button -->
      <form method="post" action="/games/draw">
        <input type="submit" value="Draw"/>
      </form>

      <div id="users">
        <div class="user">
          <span class="username">Host:<%= creating_user %></span>
          <div class="cards"></div>
        </div>
      </div>
    </div>

    <!-- A User -->
    <template id="user-template">
      <div class="user">
        <span class="username"></span>
        <div class="cards"></div>
      </div>
    </template>

    <!-- A Card -->
    <template id="card-template">
      <div>
        <span class="number"></span>
        <span class="color"></span>
      </div>
    </template>

    <!-- Chat Area -->
    <div id="chat">Chat area</div>
    <!-- Chat Box -->
    <div id="chat-container"> 
      <div id="messages"></div>
      <label>
        <input id="chatMessage" name="chat-message" placeholder="Message..." />
      </label>
    </div>

    <!-- A Chat Message -->
    <template id="chat-message-template" value="<%= game_id %>"">
      <div>
        <span class="username"></span>
        <span class="message"></span>
        <span class="timestamp"></span>
      </div>
    </template>

  </body>
</html>
